$mdc-theme-primary: #FEDBD0;
$mdc-theme-on-primary: #442C2E;
$mdc-theme-secondary: #FEEAE6;
$mdc-theme-on-secondary: #442C2E;
$mdc-theme-surface: #FFFBFA;
$mdc-theme-on-surface: #442C2E;
$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #442C2E;


@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/card/mdc-card";
@import "@material/image-list/mdc-image-list";
@import "@material/typography/mdc-typography";
@import "@material/layout-grid/mdc-layout-grid";


@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/elevation/mdc-elevation";

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding-top: 0.1px; // Prevent header h1 margin from pushing body down
}

.intro {
  margin-top: 100px;
}

.my-portfolio-list {
  @include mdc-image-list-standard-columns(3);
}

.portfolio-card__content {
  padding: 0 16px;

  div {
    height: 40px;
  }
}
.portfolio1-card__media {
  background-image: url("./assets/cerise-scallop.jpg");
}


// Home page styles

.home {
  display: flex; // Flexbox is used to easily arrange the persistent drawer and content side-by-side
}
.shrine-drawer {
  @include mdc-drawer-fill-color-accessible(primary);
  @include mdc-drawer-ink-color(on-primary);

  text-transform: uppercase;

  .mdc-list {
    margin: 70px 5px auto 5px;
  }

  .mdc-list-item {
    @include mdc-list-item-primary-text-ink-color(on-primary);

    border-radius: 6px;
    justify-content: center;
  }
}
.shrine-logo-drawer {
  width: 48px;
  padding: 40px 0 0;
  margin: 0 auto;
  fill: currentColor;
}

.shrine-title {
  align-self: center;
  margin: 5px auto;
}
.product-list {
  @include mdc-image-list-standard-columns(4);

  overflow: auto;
}
.shrine-body {
  @include mdc-elevation(4);

  display: block;
  overflow: auto;
}
