<ul>
  <li><a href="https://www.linkedin.com/in/tania-udomsri-13689640/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
  <li><a href="https://github.com/TaniaUdomsri" target="_blank"><i class="fab fa-github"></i></a></li>
  <li><a href="https://codepen.io/taniaudomsri/" target="_blank"><i class="fab fa-codepen"></i></a></li>
  <li><a href="mailto:usaranya@gmail.com" target="_blank"><i class="far fa-envelope"></i></a></li>
</ul>
<p>&copy;2018 BY TANIA UDOMSRI AND ITS RESPECTIVE OWNERS</p>